body {
    background-color: #b02d2d;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: orange;
    color: black;
    padding: 20px;
    text-align: left;
}

footer {
    background-color: orange;
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

article {
    background-color: #ffc0cb;
    border: 3px solid red;
    padding: 15px;
    margin: 40px auto;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}